{% extends 'base.html' %}

{% block content %}
<h2>Practitioner-Registrierung</h2>
<form method="post">
    {% csrf_token %}
    <input class="form-input" type="text" name="username" placeholder="Username" required>
    <input class="form-input" type="email" name="email" placeholder="Email" required>
    <input class="form-input" type="password" name="password" placeholder="Password" required>
    <input class="form-input" type="text" name="Fachrichtung" placeholder="Fachrichtung" required>
    <input class="form-input" type="text" name="Lizenznummer" placeholder="Lizenznummer" required>
    <input class="form-input" type="text" name="register_key" placeholder="Registrierungsschlüssel" required>
    <button class="button" type="submit">Registrieren</button>
</form>
<div>
    {{ registration_status }}
</div>
{% endblock content %}
